@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Scada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Satisfy&display=swap');


html {
    margin-left: 10%;
    margin-right: 10%;
    
}

h1 {
    display: inline;
    font-size: 45px;
    text-shadow: 2px 2px 3px rgb(0, 122, 204);
}

header>h1 {
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    
}

header {
    display: inline;
    
}

#idImg1 {
    width: 8%;
    height: 8%;
    vertical-align: middle;

}

h3 {
    font-family: 'EB Garamond', serif;
    background-color: rgb(0, 122, 204,0.85);
    color: aliceblue;
    padding: 4px;
}

p {
    font-family: 'Scada', sans-serif;
    text-align: justify;
}

p:first-letter {
    font-size: 25px;
    font-weight: bold;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Satisfy', cursive;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 18px;
}

ul {
    list-style-type: lower-alpha;
}

textarea {
    display: inline;
    width: 100%;
    height: 200px;
    resize: none;
    font-family: 'Scada', sans-serif;
    font-size: 13px;
    color: rgb(77, 60, 146);
    text-align: center;
}

footer {
    background-color: rgb(0, 122, 204,0.85);
    text-align: center;
    color: rgb(255, 255, 255);
}

#idDiv1 {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    h1 {
        
        display: block;
        width: 100%;
    }

    #idImg1 {
        
        display: block;
        width: 50%;
        height: 5%;
    }

    h3 {
        text-align: center;
    }
}